
.title{
    flex:1;
      display: flex; 
      align-items: center; 
      margin-top: 130px;
      flex-direction: column;
}

html {
    background-color: #F7F4EF;
}

p {
    margin-top: 7px;   
}

h2{
    font-size: 35px;
    font-weight: bold;
}


.tortas1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

.tortas2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

.textotorta{
    display: flex;
    text-decoration: none;
    margin-right: 10%;

}

img {
    height:250px;
    width: 250px;
    margin: 20px;
   
}

.encargartorta {
    display: flex;
    background-color: #916C4C;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 10px;
   text-align: center;
   width: 50%;
   justify-content: center;
   margin-left: 60px;
   margin-top: 10px;
  
}

.tortas2 {
    margin-top: 20px;
}
